<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Reposter | {% block title %}{% endblock title %}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0 maximum-scale=1.0">
    {% include 'icons/html_code.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'usermanage/base.css' %}">
    {% block head %}

    {% endblock head %}
</head>
<body>
<div class="content">
    <div class="header-wrapper">
        {% block header %}
            <h1 class="header">
                {% block header_text %}
                {% endblock header_text %}
            </h1>
        {% endblock header %}
    </div>
    {% block content %}

    {% endblock content %}
</div>
</body>
</html>