{% extends 'usermanage/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block header_text %}Регистрация{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <div class="bottom">
            <a href="{% url 'usermanage:login' %}" class="text">Уже есть аккаунт?<br/>Войти</a>
            <button>Зарегистрироваться</button>
        </div>
    </form>
{% endblock %}