{% extends 'usermanage/base.html' %}

{% block title %}Вход{% endblock %}

{% block header_text %}Вход{% endblock %}

{% block content %}
    <form method="post">
        {% if form.errors %}
            <p>Неверный логин или пароль</p>
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <div class="bottom">
            <a href="{% url 'usermanage:reg' %}" class="text">Нет аккаунта? Создать</a>
            <button>Войти</button>
        </div>
    </form>
{% endblock %}