{% extends 'script/base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'usermanage/change_password.css' %}">
{% endblock %}

{% block header_text %}Сменить пароль{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <div class="fieldWrapper">
            <button class="save">Сохранить</button>
        </div>
    </form>
{% endblock %}