* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Arial, sans-serif;
}

body {
    background-color: #eaf1f3b0;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
}

.content {
    border: 1px solid black;
    border-top: none;
    margin: 0 auto 30px auto;
    max-width: 500px;
    min-width: 320px;
    width: 50%;
    background-color: #d7edf3b0;
    padding: 2% 3%;
    border-radius: 0 0 20px 20px;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, auto) 1fr;
    margin-bottom: 30px;
}

h1.header {
    text-align: center;
    grid-column: 2/3;
    margin: auto;
}

div {
    margin-bottom: 15px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.025rem;
    width: 50%;
    min-width: 100px;
}

button {
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #560807;
    color: white;
    cursor: pointer;
    transition-duration: 250ms;
}

button:hover, button:active {
    background-color: #8a90d6;
}

div.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a.text, a.text:visited {
    text-decoration: none;
    color: #3b2cbb;
    transition-duration: 200ms;
}

a.text:hover, a.text:active {
    color: #000000;
}

@media only screen  and (max-width: 740px){
    div.fieldWrapper, div.bottom {
        display: flex;
        align-items: center;
    }

    div.fieldWrapper{
        flex-direction: column;
    }

    div.bottom {
        flex-direction: column-reverse;
    }
}