div {
    margin-bottom: 15px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.025rem;
    width: 50%;
    min-width: 100px;
}

button.save {
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #560807;
    color: white;
    cursor: pointer;
    transition-duration: 250ms;
}

button.save:hover, button.save:active {
    background-color: #8a90d6;
}

@media only screen  and (max-width: 740px){
    div.fieldWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    button.save {
        width: 33%;
        min-width: 140px;
    }

    label {
        text-align: center;
    }
}