{% extends 'script/base.html' %}

{% block title %}Добавить пост{% endblock %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/i18n/ru.js"></script>
    {% include 'script/cookie_script_tag.html' %}
    {% include 'script/sweetAlert_script_tag.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'script/post.css' %}">
    <link rel="stylesheet" href="{% static 'script/add_post.css' %}">
    <script src="{% static 'script/add_post.js' %}"></script>
{% endblock %}

{% block header_text %}Добавить пост{% endblock %}

{% block content %}
    <div class="select">
        <label for="template_select">Шаблон</label>
        <select name="template" id="template_select">
            <option value="0">Пустой шаблон</option>
            {% for template in templates %}
                <option value="{{ template.id }}">{{ template.name }}</option>
            {% endfor %}
        </select>
    </div>
    {% include 'script/raw_post.html' with button_text='Добавить' link_label='Ссылки на посты или статьи' public_label='Паблики' text_label='Тексты' image_label='Ссылки на изображения' datetime_label='Время постов' only%}
{% endblock %}