<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Reposter | {% block title %}{% endblock title %}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0 maximum-scale=1.0">
    {% include 'icons/html_code.html' %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
          crossorigin="anonymous">
    {% include 'script/jquery_script_tag.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'script/base.css' %}">
    <script src="{% static 'script/sidebar.js' %}"></script>
    {% block head %}

    {% endblock head %}
</head>
<body>
<div>
    <nav>
        <div class="header-wrapper popup-header-wrapper">
            <h1 class="header">Меню</h1>
            <button id="popup-close-button-wrapper">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="links">
            <a href="{% url 'script:list_templates' %}">Шаблоны</a>
            <a href="{% url 'script:add_post' %}">Добавить пост</a>
            <a href="{% url 'script:settings' %}">Настройки</a>
            <a href="{% url 'usermanage:change_password' %}">Сменить пароль</a>
            <a href="{% url 'usermanage:logout' %}">Выход</a>
        </div>
    </nav>
</div>
<div class="content">
    <div class="header-wrapper">
        <button id="menu">
            <i class="fas fa-bars"></i>
        </button>
        {% block header %}
            <h1 class="header">
                {% block header_text %}
                {% endblock header_text %}
            </h1>
        {% endblock header %}
    </div>
    {% block content %}

    {% endblock content %}
</div>
</body>
</html>