<form>
    <input type="hidden" name="post_id" value="{{ id }}">
    <div class="container">
        <label for="link_area">{{ link_label }}</label>
        <textarea wrap="soft" name="links" id="link_area" cols="10" rows="5">{{ link }}</textarea>
    </div>
    <div class="container">
        <label for="public_area">{{ public_label }}</label>
        <textarea wrap="soft" name="publics" id="public_area" cols="10" rows="5">{{ public }}</textarea>
    </div>
    <div class="container">
        <label for="text_area">{{ text_label }}</label>
        <textarea wrap="soft" name="texts" id="text_area" cols="30" rows="10">{{ text }}</textarea>
    </div>
    <div class="container">
        <label for="img_area">{{ image_label }}</label>
        <textarea wrap="soft" name="imgs" id="img_area" cols="10" rows="5">{{ image }}</textarea>
    </div>
    <div class="container">
        <label for="datetime_area">{{ datetime_label }}</label>
        {% load tz %}
        <textarea wrap="soft" name="datetimes" id="datetime_area" cols="10" rows="5"
        >{{ datetime|localtime|date:"d.m.Y H:i" }}</textarea>
    </div>
    <div class="container">
        <button class="submit">{{ button_text }}</button>
    </div>
</form>