{% extends 'script/base.html' %}

{% block title %}Настройки{% endblock %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    {% include 'script/cookie_script_tag.html' %}
    {% include 'script/sweetAlert_script_tag.html' %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/i18n/ru.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'script/settings.css' %}">
    <script src="{% static 'script/settings.js' %}"></script>
{% endblock %}

{% block header_text %}
    Настройки
{% endblock %}

{% block content %}
    <div class="wrapper">
        {% if text or error %}
            <div class="error">
                {% if text %}
                    <p>{{ text }}</p>
                {% endif %}
                {% if error %}
                    <div>
                        <p>Возникла ошибка: {{ error }}</p>
                        <p>Попробуй еще раз</p>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div>
            <button class="settings-but vk-login">
                <a href="https://oauth.vk.com/authorize?client_id=6444581&redirect_uri={{ redirect_uri }}
&display=page&scope=groups,wall,offline&response_type=code&v=5.74">
                    {% if not tg_secret %}Войти ВК{% else %}Обновить токен ВК{% endif %}
                </a>
            </button>
        </div>
        {% if tg_secret %}
            <div>
                <label for="tg_secret_input">
                    Для подключения или изменения аккаунта для уведомлений,
                    отправь <a href="http://t.me/Repost_script_bot" class="link">боту</a> текст ниже и нажми
                    "Проверить"
                </label>
            </div>
            <div>
                <input id="tg_secret_input" type="text" readonly value="{{ tg_secret }}">
                <button class="settings-but" id="copy" data-clipboard-target="#tg_secret_input">
                    <i title="Скопировать" class="far fa-copy"></i>
                </button>
            </div>
            <div>
                <button class="settings-but" id="check">
                    Проверить
                </button>
            </div>
            <div>
                {% if notify_type_id == 0 %}
                    <p id="notify_type_status">Сейчас я не уведомляю ни о чем</p>
                {% elif notify_type_id == 1 %}
                    <p id="notify_type_status">Сейчас я уведомляю только об успешных репостах</p>
                {% elif notify_type_id == 2 %}
                    <p id="notify_type_status">Сейчас я уведомляю только об ошибках</p>
                {% elif notify_type_id == 3 %}
                    <p id="notify_type_status">Сейчас я уведомляю и об успешных репостах, и об ошибках</p>
                {% endif %}
            </div>
            <label for="notify_mode_select">Изменить тип уведомлений на:</label>
            <div>
                <select name="notify_mode" id="notify_mode_select">
                    <option value="0">Не уведомлять</option>
                    <option value="1">Уведомлять только об успешных репостах</option>
                    <option value="2">Уведомлять только об ошибках</option>
                    <option value="3">Уведомлять обо всем</option>
                </select>
                <button class="settings-but" id="save">
                    Сохранить
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}