{% extends 'script/base.html' %}

{% block title %}
    {% if form.name.value %}
        Шаблон {{ form.name.value }}
    {% else %}
        Новый шаблон
    {% endif %}
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'script/template.css' %}">
    {% include 'script/sweetAlert_script_tag.html' %}
    {% include 'script/cookie_script_tag.html' %}
    <script src="{% static 'script/template.js' %}"></script>
{% endblock %}

{% block header_text %}
    {% if template_id %}
        Шаблон <span class="template-name">{{ form.name.value }}</span>
    {% else %}
        Новый шаблон
    {% endif %}
{% endblock %}

{% block content %}
    {% if template_id %}
        <div class="wrapper">
            <div class="actions">
                <a href="{% url 'script:copy_template' template_id=template_id %}">Скопировать</a>
                <span id="delete-but" data-id="{{ template_id }}"
                      data-template-name="{{ form.name.value }}">Удалить</span>
            </div>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field-wrapper">
            {{ form.name.errors }}
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="fancy-fields-wrapper">
            {% for field in form %}
                {% if not forloop.counter0 == 0 %}
                    <div class="field-wrapper">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <div class="textarea-wrapper">
                            {{ field }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="button-wrapper">
            <button class="submit">
                Сохранить
            </button>
        </div>
    </form>
{% endblock %}