{% extends 'script/base.html' %}

{% block title %}Шаблоны{% endblock %}

{% block head %}
    {% include 'script/cookie_script_tag.html' %}
    {% include 'script/sweetAlert_script_tag.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'script/dragula.min.css' %}">
    <link rel="stylesheet" href="{% static 'script/template_list.css' %}">
    <script src="{% static 'script/template_list.js' %}"></script>
{% endblock %}

{% block header %}
    {{ block.super }}
    <a href="{% url 'script:create_template' %}" id="create_template_link" title="Создать новый"
       class="create-new"><span class="plus-text">+</span></a>
{% endblock %}

{% block header_text %}
    Шаблоны
{% endblock %}

{% block content %}
    <ul id="template_list">
        {% for object in object_list %}
            <li data-id="{{ object.id }}">
                <div>
                    <span class="drag-handle"><i class="fas fa-grip-lines"></i></span>
                    <a href="{% url 'script:template_detail' template_id=object.id %}"
                       class="template__name"
                    >{{ object.name }}</a>
                </div>
                <div class="actions">
                    <a href="{% url 'script:copy_template' template_id=object.id %}" class="copy-but">
                        <i title="Скопировать" class="far fa-copy"></i>
                    </a>
                    <span class="delete-but">
                        <i title="Удалить" class="far fa-trash-alt"></i>
                    </span>
                </div>
            </li>
        {% empty %}
            <li>Еще нет шаблонов, создай первый сейчас!</li>
        {% endfor %}
    </ul>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
{% endblock %}