{% extends 'script/base.html' %}

{% block title %}Пост в работе{% endblock %}

{% block header_text %}Лучше не менять сейчас этот пост{% endblock %}

{% block content %}
    <h3>Потому что я его сейчас прокликиваю</h3>
    <h3>Зайди сюда через пару минут</h3>
{% endblock %}