div.select {
    width: 70%;
    margin: 1.5% auto 0 auto;
}

select {
    width: 300px;
}

@media only screen and (max-width: 760px) {
    div.select {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}