* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Arial, sans-serif;
}

body {
    background-color: #eaf1f3b0;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
}

nav {
    background-color: #560807;
    min-width: 180px;
    max-width: 200px;
    width: 15%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 25px 0;
    font-size: 1.2rem;
}

nav h1 {
    margin: 15px 0;
    color: white;
}

nav div.links {
    display: flex;
    flex-direction: column;
}

nav div.links a {
    margin-bottom: 20px;
    color: white;
}

nav > div.links > a:last-child {
    margin-bottom: 30px;
}

.content {
    border: 1px solid black;
    border-top: none;
    margin: 0 auto 30px auto;
    max-width: 760px;
    width: 50%;
    background-color: #d7edf3b0;
    padding: 2% 3%;
    border-radius: 0 0 20px 20px;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, auto) 1fr;
    margin-bottom: 30px;
}

h1.header {
    text-align: center;
    grid-column: 2/3;
    margin: auto;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: #2e3088;
}

@media only screen and (max-width: 1250px) {
    div.content {
        width: 60%;
    }
}

@media only screen and (min-width: 1040px) {
    button#popup-close-button-wrapper, button#menu {
        display: none;
    }
}

@media only screen and (max-width: 1040px) {
    div.content {
        width: 70%;
    }

    nav {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    div.content {
        width: 80%;
    }
}

@media  only screen and (max-width: 760px) {
    div.content {
        width: 90%;
        min-width: 460px;
    }

}

@media only screen and (max-width: 320px) {
    div.content {
        min-width: 180px;
    }
}

@keyframes slidein {
    from { transform: scale(0.25); }
    to   { transform: scale(1); }
}

nav.popup {
    border-radius: 25px;
    max-width: 240px;
    min-width: 180px;
    display: flex;
    position: relative;
    margin: auto;
    width: 30%;
    z-index: 100;
    animation: 200ms slidein;
}

div.popup-wrapper {
    display: flex;
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 100ms
}

body.popup-show {
    overflow-y: hidden;
}

button#menu {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    margin: 0 auto 0 25%;
    cursor: pointer;
}

button#popup-close-button-wrapper {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: lightgrey;
}

div.popup-header-wrapper {
    margin-top: 10px;
    width: 90%;
}

@media only screen and (max-width: 480px) {
    div.content {
        min-width: 300px;
    }

    button#menu {
        margin: auto;
    }
}