textarea {
    font-family: Arial, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

label {
    margin: 0 5px 5px 0;
}

div.container {
    margin: 1.5%;
    display: flex;
    flex-direction: column;
}

button.submit {
    min-width: 50px;
    width: 25%;
    margin-top: 2%;
    padding: 1.5%;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #f4f4f4;
    color: black;
    font-size: 1.1rem;
    transition-duration: 350ms;
}

button.submit:hover, button.submit:active {
    cursor: pointer;
    background-color: #e6e6e6;
}

@media only screen and (max-width: 760px) {
    button.submit {
        width: 33%;
        margin: 5px auto;
        padding: 10px 7px;
    }
}

@media only screen and (max-width: 480px) {
    label {
        text-align: center;
    }
}