a.link, a.link:hover, a.link:active, a.link:visited {
    text-decoration: underline;
}

button.settings-but {
    background-color: #f4f4f4;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    transition-duration: 250ms;
    font-size: 1.025rem;
}

button.settings-but:hover, button.settings-but:active {
    background-color: #e6e6e6;
}

button.vk-login:not(#menu) {
    background-color: #3f3dd6;
}

button.vk-login:not(#menu):hover, button.vk-login:not(#menu):active {
    background-color: #7980d6;
}

button.vk-login:not(#menu) > a {
    color: white;
}

input[type="text"] {
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;
    width: 250px;
}

div.wrapper {
    display: flex;
    flex-direction: column;
}

div.wrapper > div {
    margin-bottom: 10px;
}

.error {
    color: red;
}

@media only screen and (max-width: 480px) {
    button#save {
        margin-top: 10px;
    }
}