.create-new {
    padding: 3px 30px;
    width: 80px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #560807;
    border-radius: 20px;
    transition-duration: 250ms;
}

.create-new:hover, .create-new:active {
    background-color: #8a90d6;
    cursor: pointer;
}

span.plus-text {
    vertical-align: baseline;
    margin: auto;
    color: white;
    font-size: 2rem;
    font-family: Arial, sans-serif;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 5px 2%;
    margin: 12px 5px;
    background-color: #fff;
    border-radius: 5px;
    list-style: none;
}

.template__name {
    margin-left: 10px;
}

.drag-handle {
    font-size: 1.2em;
    cursor: move;
    position: relative;
    top: calc(50% - 13px);
    opacity: 0.25;
}

div.actions {
    display: flex;
    width: 25%;
    min-width: 250px;
    justify-content: space-around;
    font-size: 1.2rem;
}

div.actions > * {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 5px 30px;
    border-radius: 5px;
    transition-duration: 200ms;
}

div.actions > *:hover, div.actions > *:active {
    background-color: #f0f5f6;
}

span.delete-but {
    background-color: red;
    color: white;
    cursor: pointer;
}

span.delete-but:hover, span.delete-but:active {
    background-color: white;
    color: red;
}

li > a {
    margin: auto 0;
}

span.template-name {
    font-style: italic;
    font-weight: 500;
}

@media only screen and (max-width: 1040px) {
    li {
        padding: 10px 0.5% 10px 2%;
    }
}

@media only screen and (max-width: 960px) {
    div.actions > * {
        padding: 5px 25px;
    }
}

@media only screen and (max-width: 640px) {
    button.create-new {
        width: 60px;
        padding: 3px 15px;
    }

    div.actions {
        min-width: 200px;
    }
}

@media only screen and (max-width: 560px) {
    div.actions {
        min-width: 150px;
    }

    div.actions > * {
        padding: 5px 20px;
    }
}

@media only screen and (max-width: 480px) {
    button.create-new {
        width: 50px;
        padding: 3px 10px;
    }

    div.actions > * {
        padding: 5px 15px;
    }
}