div.wrapper {
    display: flex;
    justify-content: flex-end;
}

div.actions {
    width: 25%;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
}

div.actions > * {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 5px 30px;
    border-radius: 5px;
    transition-duration: 200ms;
}

div.actions > *:hover, div.actions > *:active {
    background-color: #f0f5f6;
}

span#delete-but {
    background-color: red;
    color: white;
    cursor: pointer;
}

span#delete-but:hover, span#delete-but:active {
    background-color: white;
    color: red;
}

div.field-wrapper {
    width: 45%;
    min-width: 250px;
    margin: 1%;
    padding: 1.5%;
}

div.button-wrapper {
    min-width: 250px;
    margin: 1%;
    padding: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

textarea, input[type="text"] {
    font-family: Arial, sans-serif;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
}

div.fancy-fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

textarea {
    width: 100%;
}

button.submit {
    min-width: 50px;
    margin-top: 2%;
    padding: 7px 10px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #f4f4f4;
    color: black;
    font-size: 1.1rem;
    transition-duration: 350ms;
}

button.submit:hover, button.submit:active {
    cursor: pointer;
    background-color: #e6e6e6;
}

span.template-name {
    font-style: italic;
    font-weight: 500;
}

@media only screen and (max-width: 760px) {
    div.field-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    button.submit {
        width: 50%;
        margin: 0 auto;
    }

    div.button-wrapper {
        justify-content: center;
    }
}

@media only screen and (max-width: 640px) {
    div.field-wrapper {
        width: 100%;
    }

    label {
        text-align: center;
    }
}

@media only screen and (max-width: 460px) {
    div.actions {
        min-width: 280px;
    }

    div.actions > * {
        padding: 5px 15px;
    }
}